@import '../../styles/main';
@media (max-width: $width-small) {
  .aboutcard {
    position: fixed;
    border: 1px solid #c1c1c1;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow:  4px 4px 4px #bfbfbf;
  }
}
@media (min-width: $width-small) {
  .aboutcard {
    position: fixed;
    border: 1px solid #c1c1c1;
    width: 600px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow:  4px 4px 4px #bfbfbf;
  }
}

.aboutcard h1 {
  text-align: center;
}
.aboutcard-footer {
  margin-top:50px;
  text-align: end;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.aboutcard-line2 {
  color: #5cdbd3;
}