// 媒体查询用的
$width-small: 623px; //1
$width-medium: 935px; //2
$width-large: 1247px; //3


// 版心
$center-width: 1248px;

// header 相关的
$header-bg:#8c8c8c;
// $header-font-size: 18px;
$header-height: 50px;

// card 相关的
// 大小
$card-width: 250px;
$card-height: 115px;

// card 颜色
$card-title-color: #262626;
$card-title-font-size: 22px;
$card-des-color: #595959;
$card-des-font-size: 14px;
$card-url-color: #8c8c8c;
$card-url-font-size: 14px;