@import "../../styles/_main.scss";

.card-box {
  width: $card-width;
  height: $card-height;
  overflow: hidden;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  margin: 12px;
  padding: 18px;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.card-box-hover {
  box-shadow: 18px 18px 18px #555;
  transform: translate(-2px, -2px);
}
.card-title-hover {
  color: #5cdbd3;
}

.card-tag {
  margin-top: 10px;
}

.card-header {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
  .card-header-left {
    display: flex;
  }
}
.card-title {
  display: block;
  font-size: $card-title-font-size;
  line-height: 40px;
  margin-left: 12px;
  color: $card-title-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
.card-des {
  color: $card-des-color;
  font-size: $card-des-font-size;
  margin-bottom: 6px;
  overflow: hidden;
  height: 40px;
}
.card-url {
  font-size: $card-url-font-size;
  color: $card-url-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-box:hover {
  box-shadow: 4px 4px 4px #bfbfbf;
  transform: translate(8px, 8px, 0);
}

a {
  color: #555;
  font-size: 18px;
  text-decoration: none;
}
