/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 8px; /* 纵向滚动条宽度 */
  height: 8px; /* 横向滚动条高度 */
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

/* 鼠标悬浮在滑块上时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.ant-input-affix-wrapper {
  padding: 0px;
}
.ant-input-affix-wrapper .ant-input {
  padding: 4px 11px !important;
}
.ant-input-affix-wrapper .ant-input-suffix {
  margin-right: 4px !important;
}
.ant-select-selection-item {
  height: 40px !important;
  line-height: 40px !important;
}

.ant-select-selector {
  height: 40px !important;
}

.ant-select-selection-search-input {
  height: 40px !important;
}
